<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-transform">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Latex support -->
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/pygments.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Logo -->
        <link rel="Shortcut Icon" href="/img/LP.png">

    </head>
    <body>
      <div class="site">
        {{ content }}
      </div>
    </body>
</html>
